.profile-icon-wrapper {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.profile-dropdown {
    position: absolute;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    width: 250px;
    right: 10px;
    top: 70px;
    background: white;
}

.profile-avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.profile-avatar > img {
    vertical-align: top;
}
.profile-avatar.profile-avatar-smaller {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.user-info {
    line-height: initial;
    border-bottom: 1px solid #f1f1f1;
    padding: 15px;
}

.profile-dropdown-menu {
    padding: 5px 15px;
}
.profile-dropdown-menu .uk-list {
    margin: 0;
}

.profile-dropdown-menu .uk-list a {
    color: #333;
}
.profile-dropdown-menu .uk-list a:hover {
    color: #059;
    text-decoration: none;
}


