
.home-background {
    background: url(../img/section-background.svg) 50% 50% no-repeat,linear-gradient(to left top, #28a5f5, #1e87f0) 0 0 no-repeat;
    content: '';
    width: 100%;
    height: 110%;
    z-index: -1000;
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    transform-origin: left bottom;
    transform: skew(0deg, -5deg);



}

.contain {
    transform-origin: left bottom;
    transform: skew(0deg, 5deg);

}

#edit-nav-white-login > a {
    font-family: "Proxima Light", serif;
    color: #ffffff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

#edit-nav-white-login > a:hover {
    color: rgba(255,255,255,0.8);
}

#edit-nav-white-signup > a {
    font-family: "Proxima Light", serif;
    color: #ffffff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

#edit-nav-white-signup > a:hover {
    color: rgba(255,255,255,0.8);
}



.edit-nav-logo {
    padding-top: 10px;
    padding-left: 40px;

}

.edit-nav-right {
    padding-right:20px;
}

.edit-cta-logo > svg{
    padding-top: 115px;
    display: block;
    margin: auto;
}

.edit-cta-title {
    margin-top: 100px;
    color: #ffffff;
    font-size: 24px;
    line-height: 1.5;
    font-family: "Proxima Light", serif;
}

.edit-button-primary {
    background: #fff !important;
    color: #1e87f0 !important;
    border-radius: 500px;
    border: 1px solid transparent;
    display: block;
    margin: auto;
}

.edit-button-primary:hover {
    box-shadow: 0 10px 40px #1e87f0;
}

.edit-button-default {
    color: rgba(255,255,255,0.8);
    border-color: rgba(255,255,255,0.6);
    background: transparent;
    border-radius: 500px;
    border: 1px solid #e5e5e5;
    display: block;
    margin: auto;

}

.edit-button-default:hover {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.partners {
    content: '';
    width: 100%;
    height: 50%;
    z-index: -1000;
    position: absolute;
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.edit-partners {
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    line-height: 36px;
    text-shadow: 0 0 2px rgba(31, 31, 77, 0.1);
    width: 300px;
    margin: auto;
    padding-top: 100px;
}

.edit-company-list {
    margin-left : 160px;

}

.edit-tech > p{
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-shadow: 0 0 2px rgba(31, 31, 77, 0.1);
    width: 250px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px

}

.edit-tech-card-group {
    margin-left: 20px;
    margin-right: 20px;
}

.edit-tech-card-top {
    padding-top: 25px
}

.edit-tech-card-align {
    padding-bottom: 13px;
}

.uk-card-media-top > img {
    margin: 0 0 0 40px;
}