
/*FONT RULES*/
@font-face {
    font-family: "Proxima Light";
    src: url("../fonts/proximanova-light-webfont.woff") format('woff');
}

@font-face {
    font-family: "Proxima Reg";
    src: url("../fonts/proximanova-reg-webfont.woff") format('woff');
}

@font-face {
    font-family: "Gloriola Thin";
    src: url("../fonts/ms_gloriola_ii_display_thin-webfont.woff") format('woff');
}

@font-face {
    font-family: "Gloriola Reg";
    src: url("../fonts/ms_gloriola_ii_display_thin-webfont.woff") format('woff');
}
/*END FONT RULES*/



/*UNIVERSAL FONT SETTINGS*/
*, html, h1, h2, h3, h4, h5, h6, .uk-form input, .uk-form select, .uk-form textarea {
    font-family: "Proxima Light", serif;
    color: #666666;
}
/*END UNIVERSAL FONT SETTINGS*/

/*GENERAL SETTINGS*/
html {
    min-height: 100%;
    /*background-color: #f8f8f8;*/
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: scroll;
    font-size: 1em;
}
body {
    font-family: "Proxima Light", serif;
    font-weight: normal;
    line-height: 1.45;
    color: #333;
}
