<div class="profile-icon-wrapper uk-navbar-item">
    <!-- AVATAR -->
    <div class="profile-avatar"
        data-ng-click="toggleMenu()">
        <img data-ng-src="http://www.gravatar.com/avatar/{{session.hash}}?s=40&d=identicon&r=PG">
    </div>
    <!-- END OF AVATAR -->

    <!-- MENU -->
    <div class="profile-dropdown" data-ng-show="menuEnabled">
        <div class="user-info uk-flex uk-flex-middle uk-flex-space-between">
            <div class="uk-flex-item-none">
                <div class="profile-avatar profile-avatar-smaller">
                    <img data-ng-src="http://www.gravatar.com/avatar/{{session.hash}}?s=32&d=identicon&r=PG">
                </div>
            </div>
            <div class="uk-width-1-1">
                <div class="user-name">{{::session.user.name}}</div>
                <small class="user-email">{{::session.user.email}}</small>
            </div>
        </div>
        <div class="profile-dropdown-menu">
            <ul class="uk-list">
                <li>
                    <a ui-sref="Settings">Settings</a>
                </li>
                <li>
                    <a ui-sref="Notifications">Notifications</a>
                </li>
                <li>
                    <a data-ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END OF MENU -->
</div>
