
<div class="container" data-ng-controller="ProfileCtrl as profileCtrl">


    <div class="dash">

        <div class="uk-flex edit-macro-header">

            <h1>Account Settings</h1>

        </div>

        <div class="uk-header">


            <!--NAV_BAR ROW-->
            <nav class="uk-navbar edit-nav edit-sub-dash" ng-controller="DefaultAppCtrl as ctrl">



                <div class="edit-nav-row-left">

                    <ul class="uk-subnav uk-visible-large edit-ul edit-mini-menu">

                        <!--LOAN MARKETPLACE-->
                        <li class="active">
                            <a ui-sref="MyAccount.General">General</a>
                        </li>
                        <!--CLIENT DASHBOARD-->
                        <li>
                            <a ui-sref="MyAccount.BankTransfer" class="active">Bank Transfer</a>
                        </li>



                    </ul>

                </div>
                <!--END OF LEFT NAV_BAR-->

                <!--RIGHT NAV_BAR -->
                <div class="edit-nav-row-right">

                    <ul class="uk-subnav uk-visible-large edit-ul">

                    </ul>

                </div>
                <!--END OF RIGHT NAV_BAR-->

            </nav>
            <!--END OF NAV_BAR ROW-->

        </div>
        <!--END OF HEADER-->
    </div>

    <div class="container" ui-view="content"></div>

</div>


<br>