<div uk-grid class="uk-grid-small">
    <div class ="uk-width-1-6@s">
        <div>
            <span>Available Fund: <span class="uk-text-bold">${{(ctrl.balance || 0)|number:2}}</span></span>
        </div>
        <div>
            <span>Total Bid: <span class="uk-text-bold">${{(ctrl.totalBid || 0)|number:2}}</span></span>
        </div>
        <div class="uk-margin-top">
            <button type="button"
                data-ng-click="ctrl.checkout()"
                class="uk-button uk-button-primary uk-width-1-1">Checkout</button>
        </div>
        <ul class="uk-list uk-list-divider">
            <li data-ng-repeat="bid in ctrl.bids track by bid.id"
                class="uk-flex">
                <div class="uk-flex-1">
                    <span uk-tooltip="pos: right"
                        title="Auction ID: {{bid.auctionId}}">Bid #{{$index + 1}}</span>
                </div>
                <div class="uk-flex-none">
                    <span class="uk-text-bold">${{bid.bidValue|number:2}}</span>
                </div>
                <div class="uk-flex-none uk-margin-left">
                    <a data-ng-click="ctrl.removeBid(bid)"
                        uk-icon="icon: close"
                        class="uk-link-muted"></a>
                </div>
            </li>
        </ul>
        <div class="uk-margin-top" data-ng-if="ctrl.bids.length > 10">
            <button type="button"
                data-ng-click="ctrl.checkout()"
                class="uk-button uk-button-primary uk-width-1-1">Checkout</button>
        </div>
    </div>
    <div class="uk-width-5-6@s">
        <div class="uk-margin">
            <button type="button" class="uk-button uk-button-default"
                data-ng-click="ctrl.placeBids()">Place bids</button>
        </div>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-middle uk-table-small uk-table-hover">
                <thead>
                    <tr>
                        <th class="uk-table-shrink">
                            <input class="uk-checkbox" type="checkbox"
                                data-ng-change="ctrl.toggleSelectAll()"
                                data-ng-model="ctrl.allSelected">
                        </th>
                        <th>
                            <span>Investment</span>
                        </th>
                        <th>
                            <span>Rate</span>
                        </th>
                        <th>
                            <span>Term</span>
                        </th>
                        <th>
                            <span>Bondora Score</span>
                        </th>
                        <th>
                            <span>Amount</span>
                        </th>
                        <th>
                            <span>Country</span>
                        </th>
                        <th>
                            <span>% Funded</span>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody data-ng-repeat="auction in ctrl.auctions track by auction.auctionId">
                    <tr>
                        <td class="uk-table-shrink">
                            <input class="uk-checkbox" type="checkbox"
                                data-ng-change="ctrl.auctionSelected()"
                                data-ng-model="ctrl.selections[auction.auctionId]">
                        </td>
                        <td class="uk-table-shrink">
                            <div class="uk-inline">
                                <span class="uk-form-icon">$</span>
                                <input type="text"
                                    class="uk-input uk-form-width-small"
                                    placeholder="0.00"
                                    data-ng-model="ctrl.bidValues[auction.auctionId]">
                            </div>
                        </td>
                        <td>
                            <span>{{auction.interest}}%</span>
                        </td>
                        <td>
                            <span>{{auction.loanDuration}}Mths</span>
                        </td>
                        <td>
                            <span>{{auction.rating}}</span>
                        </td>
                        <td>
                            <span>${{auction.appliedAmount}}</span>
                        </td>
                        <td>
                            <span>{{auction.country}}</span>
                        </td>
                        <td>
                            <span>{{auction.fullfilled}}%</span>
                        </td>
                        <td class="uk-table-shrink">
                            <button class="uk-button uk-button-link" uk-icon="icon: chevron-up"
                                data-ng-click="ctrl.expand(auction.loanId)"
                                data-ng-hide="ctrl.expandStates[auction.loanId]"></button>
                            <button class="uk-button uk-button-link" uk-icon="icon: chevron-down"
                                data-ng-click="ctrl.collapse(auction.loanId)"
                                data-ng-show="ctrl.expandStates[auction.loanId]"></button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9" class="uk-padding-remove">
                            <div class="uk-background-muted loan-detail loan-detail-hidden" data-ng-class="{ 'loan-detail-shown': ctrl.expandStates[auction.loanId]}">
                                <div class="uk-grid-collapse uk-padding-small" uk-grid>
                                    <div class="uk-width-1-1">
                                        <h5>Borrower #{{auction.userName}}</h5>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Loan Submitted:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>{{auction.loanApplicationStartedDate|date:'short'}}</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Review Status:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span></span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Monthly Payment:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>${{auction.monthlyPayment}}</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Member Loan#:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>{{auction.userName}}</span>
                                    </div>

                                    <div class="uk-width-1-1 uk-margin-top">
                                        <h5>Borrower Profile</h5>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Gross Income:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>${{auction.incomeTotal}}/month</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Job Title:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>{{auction.employmentPosition}}</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Home Ownership:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span></span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Location:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>{{auction.city}}</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Length of Employment:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>{{auction.employmentDurationCurrentEmployer}}</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Debt-to-Income (DTI):</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>{{auction.debtToIncome}}%</span>
                                    </div>


                                    <div class="uk-width-1-1 uk-margin-top">
                                        <h5>Borrower Credit History</h5>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Credit Score Range:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Delinquent Amount:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Earliest Credit Line:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Delinquencies (last 2 yrs):</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Open Credit Lines:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Months Since Last Delinquency:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Total Credit Lines:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Public Records on File:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Revolving Credit Balance:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Months Since Last Record:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Revolving Line Utilization:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Months Since Last Major Derogatory:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Inquiries in Last 6 Months:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Major Derogatories:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Accounts Now Delinquent:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>
                                    <div class="uk-width-1-3@s uk-text-small">
                                        <span>Collections Excluding Medical:</span>
                                    </div>
                                    <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                        <span>n/a</span>
                                    </div>


                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
