<div>
    <table class="uk-table">
        <thead>
            <tr>
                <th class="exchange-rate-table__header-cell">Currency</th>
                <th class="exchange-rate-table__header-cell">Value</th>
                <th class="exchange-rate-table__header-cell">Change</th>
                <th class="exchange-rate-table__header-cell">Net Change</th>
                <th class="exchange-rate-table__header-cell">Time</th>
                <th class="exchange-rate-table__header-cell">{{::ctrl.exchangeRates.days}} days</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="field in ctrl.exchangeRates.fields">
                <td class="exchange-rate-table__value-cell">
                    <b>{{::field}}</b>
                </td>
                <td class="exchange-rate-table__value-cell">
                    <span>{{::ctrl.exchangeRates.currencies[field].value}}</span>
                </td>
                <td class="exchange-rate-table__value-cell">
                    <span>{{::ctrl.exchangeRates.currencies[field].change|number:4}}</span>
                </td>
                <td class="exchange-rate-table__value-cell">
                    <span>{{::ctrl.exchangeRates.currencies[field].netChange|percentage:2}}</span>
                </td>
                <td class="exchange-rate-table__value-cell">
                    <span>{{::ctrl.exchangeRates.time}}</span>
                </td>
                <td class="exchange-rate-table__sparkline-cell">
                    <x-sparkline class="exchange-rate-table__sparkline"
                        data-history="ctrl.exchangeRates.currencies[field].history">
                    </x-sparkline>
                </td>
            </tr>
        </tbody>
    </table>
</div>
