<div class="home-background">

    <div class="contain">
        <!--NAV-->
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">

                <a  class="edit-nav-logo"><img src="../img/lqx_logo_white.svg" width="50" height="50" title="UIkit" alt="UIkit"></a>

            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav edit-nav-right">
                    <!--CLIENT SIGNIN-->
                    <li id="edit-nav-white-login" ng-hide="ctrl.isUserLogon">
                        <div>
                            <a ui-sref="SignIn" class="uk-button uk-button-default edit-button-default">Login</a>
                        </div>
                    </li>
                    <!--CLIENT LOGIN-->
                    <!--<li id="edit-nav-white-signup" ng-hide="ctrl.isUserLogon">-->
                        <!--<a ui-sref="SignUp">Sign Up</a>-->
                    <!--</li>-->

                </ul>
            </div>
        </nav>

        <div uk-height-viewport="offset-top: true; offset-bottom: true" style="min-height: calc(100vh - 183px);">

            <div class="uk-width-1-1">

                <div class="edit-cta-logo">
                    <img  uk-svg src="../img/lqx_logo_white.svg" width="135" height="135"   >
                </div>

            </div>

            <p class="uk-margin-medium uk-text-lead uk-text-center edit-cta-title">
                An international crowdfunding aggregation platform<br class="uk-visible@s">
                for informed and transparent investment services.
            </p>

            <div uk-grid class="uk-flex-center uk-grid">

                <div class="uk-first-column"><a href="#" class="uk-button uk-button-primary edit-button-primary">Request Demo</a></div>

                <div><a ui-sref="SignIn" class="uk-button uk-button-default edit-button-default">Login</a></div>

            </div>

        </div>


    </div>

    <div>
        <div class="edit-tech contain">
            <p> Our Technology</p>
        </div>
    </div>

    <div class="uk-child-width-1-3@s uk-grid-small contain edit-tech-card-group" uk-grid>
        <div>
            <div class="uk-card uk-card-default edit-tech-card-top edit-tech-card-align">

                <div class="uk-card-media-top">
                    <img src="../img/technology.svg" width="75" height="75"  alt="">
                </div>

                <div class="uk-card-body">
                    <h3 class="uk-card-title">Machine Learning Risk Analytics</h3>
                    <p>Our proprietary credit-risk solutions harnesses over 5+ million individual data
                        points to create a robust Basel II-complaint risk framework for our investors.</p>
                </div>

            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default edit-tech-card-top edit-tech-card-align">

                <div class="uk-card-media-top">
                    <img src="../img/analysis-1.svg" width="75" height="75" alt="">
                </div>

                <div class="uk-card-body">
                    <h3 class="uk-card-title">Powerful Portfolio Performance Metrics</h3>
                    <p>LQX deploys a marginal performance metric informing investoprs on changes in portfolio performance on every assests bought or sold across platforms.</p>
                </div>

            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default edit-tech-card-top">

                <div class="uk-card-media-top">
                    <img src="../img/coins-1.svg" width="75" height="75" alt="">
                </div>

                <div class="uk-card-body">
                    <h3 class="uk-card-title">Automated Clearing House </h3>
                    <p>Fully automated multi-currency, cross-border clearing for fractional transactions encompassing
                        multiple intermediaries allowing investors to purchase assets with low-minimum quantum
                        and transaction fees.</p>
                </div>

            </div>
        </div>
    </div>
    <div>

    </div>

    <div class="partners">
        <div class="edit-partners contain">
            Companies powered by us
        </div>

        <div class="edit-company-list contain">
            <img src="../img/companies-connected.svg" width="600" height="200"  alt="">
            <img src="../img/bondora-logo-black.png" width="250" height="200" alt="">
        </div>
    </div>







</div>




