<div uk-grid class="uk-grid-small">
    <div>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-middle uk-table-small uk-table-hover">
                <thead>
                <tr>
                    <th>
                        <span>Unique Id</span>
                    </th>
                    <th>
                        <span>Bondora Score</span>
                    </th>
                    <th>
                        <span>Country</span>
                    </th>
                    <th>
                        Date Of Purchase
                    </th>
                    <th>
                        <span>Interest</span>
                    </th>
                    <th>
                        <span>Payment Stage</span>
                    </th>
                    <th>
                        <span>Outstanding Principal</span>
                    </th>

                    <th>
                        <span>Repaid Principal</span>
                    </th>
                    <th>
                        <span>Repaid Interest</span>
                    </th>

                </tr>
                </thead>
                <tbody data-ng-repeat="investment in ctrl.investments track by investment.auctionId">
                <tr>
                    <td>
                        <span>{{investment.auctionNumber}}-{{investment.auctionBidNumber}}</span>
                    </td>
                    <td>
                        <span>{{investment.rating}}</span>
                    </td>
                    <td>
                        <span>{{investment.country}}</span>
                    </td>
                    <td>
                        <span>{{investment.purchaseDate}}</span>
                    </td>
                    <td>
                        <span>{{investment.interest}}%</span>
                    </td>

                    <td>
                        <span>{{investment.nextPaymentNr}}/{{investment.nrOfScheduledPayments}}</span>
                    </td>
                    <td>
                        <span>{{investment.principalRemaining}}€</span>
                    </td>
                    <td>
                        <span>{{investment.principalRepaid}}€</span>
                    </td>
                    <td>
                        <span>{{investment.interestRepaid}}€</span>
                    </td>


                    <td class="uk-table-shrink">
                        <button class="uk-button uk-button-link" uk-icon="icon: chevron-up"
                                data-ng-click="ctrl.expand(investment.loanPartId)"
                                data-ng-hide="ctrl.expandStates[investment.loanPartId]"></button>
                        <button class="uk-button uk-button-link" uk-icon="icon: chevron-down"
                                data-ng-click="ctrl.collapse(investment.loanPartId)"
                                data-ng-show="ctrl.expandStates[investment.loanPartId]"></button>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" class="uk-padding-remove">
                        <div class="uk-background-muted loan-detail loan-detail-hidden" data-ng-class="{ 'loan-detail-shown': ctrl.expandStates[investment.loanPartId]}">
                            <div class="uk-grid-collapse uk-padding-small" uk-grid>
                                <div class="uk-width-1-1">
                                    <h5>Borrower #{{investment.userName}}</h5>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Loan Submitted:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>{{auction.loanApplicationStartedDate|date:'short'}}</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Review Status:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span></span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Monthly Payment:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>${{auction.monthlyPayment}}</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Member Loan#:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>{{auction.userName}}</span>
                                </div>

                                <div class="uk-width-1-1 uk-margin-top">
                                    <h5>Borrower Profile</h5>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Gross Income:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>${{auction.incomeTotal}}/month</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Job Title:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>{{auction.employmentPosition}}</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Home Ownership:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span></span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Location:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>{{auction.city}}</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Length of Employment:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>{{auction.employmentDurationCurrentEmployer}}</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Debt-to-Income (DTI):</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>{{auction.debtToIncome}}%</span>
                                </div>


                                <div class="uk-width-1-1 uk-margin-top">
                                    <h5>Borrower Credit History</h5>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Credit Score Range:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Delinquent Amount:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Earliest Credit Line:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Delinquencies (last 2 yrs):</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Open Credit Lines:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Months Since Last Delinquency:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Total Credit Lines:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Public Records on File:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Revolving Credit Balance:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Months Since Last Record:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Revolving Line Utilization:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Months Since Last Major Derogatory:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Inquiries in Last 6 Months:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Major Derogatories:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Accounts Now Delinquent:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>
                                <div class="uk-width-1-3@s uk-text-small">
                                    <span>Collections Excluding Medical:</span>
                                </div>
                                <div class="uk-width-1-6@s uk-text-small uk-text-bold">
                                    <span>n/a</span>
                                </div>


                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
