<div class="uk-container uk-container-expand">
    <h2>Linked Accounts</h2>
    <dl class="uk-description-list uk-description-list-divider">
        <dt>Bondora</dt>
        <dd>
            <button class="uk-button" type="button" data-ng-click="ctrl.oauth('bondora')">Link account</button>
            <code data-if="ctrl.refreshTokens.bondora">{{ctrl.refreshTokens.bondora}}</code>
        </dd>

        <dt>Transferwise</dt>
        <dd>
            <button class="uk-button" type="button">Link account</button>
            <code data-if="ctrl.refreshTokens.transferwise">{{ctrl.refreshTokens.transferwise}}</code>
        </dd>

    </dl>
</div>
