<div class="uk-container uk-container-expand">
    <h1 class="uk-h2"><span>Loan Marketplace</span></h1>
    <ul uk-tab>
        <!--LOAN MARKETPLACE-->

        <li>
            <a ui-sref="LoanMarket.BondoraAuctions">Bondora Auctions</a>
        </li>
    </ul>
    <div>
        <div class="container" ui-view="content"></div>
    </div>
</div>