<!--LOGIN MODULE-->
<div class="uk-background-primary uk-position-cover">
</div>

<div class="uk-position-z-index uk-position-center">
    <div uk-grid>
        <div class="uk-text-right">
            <img class="uk-logo" width="140" height="120" src="img/lqx_logo_white.svg" alt="">
        </div>

        <div>
            <form class="uk-grid-small" uk-grid
                style="width: 400px;"
                data-ng-submit="ctrl.login()">
                <div class="uk-width-1-1">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input class="uk-input uk-width-1-1"
                            type="email"
                            name="email"
                            placeholder="Email Address"
                            data-ng-model="ctrl.user.email"
                            required>
                    </div>
                </div>

                <div class="uk-width-1-1">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input uk-width-1-1"
                            type="password"
                            name="password"
                            data-ng-model="ctrl.user.password"
                            placeholder="Password"
                            required>
                    </div>
                </div>

                <div class="uk-width-1-1">
                    <label style="color: white;"><input class="uk-checkbox" type="checkbox">&nbsp;Remember Me</label>
                </div>

                <div class="uk-width-1-1">
                    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1"
                        type="submit">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--END OF LOGIN MODULE-->
