<div class="uk-container uk-container-expand">
    <h1 class="uk-h2"><span>Macro Overview</span></h1>
    <ul uk-tab>
        <!--LOAN MARKETPLACE-->
        <li>
            <a ui-sref="MacroOverview.ExchangeRate">Exchange Rate</a>
        </li>

    </ul>
    <div>
        <div class="container" ui-view="content"></div>
    </div>
</div>
