<link rel="stylesheet" href="../css/userdash.css"/>
<div>

    <div class="uk-header dash-header">


        <!--NAV_BAR ROW-->
        <nav class="uk-navbar edit-nav dash" >

            <!--LEFT NAV_BAR -->
            <div class="edit-nav-row-left">

                <ul class="uk-subnav uk-visible-large edit-ul">

                    <!--LOGO-->
                    <a class="uk-float-left logo-hover-blue">
                        <img src="img/lqx_logo_DO.svg" class="nav-logo" alt="demo">
                    </a>

                </ul>

            </div>

            <div class="edit-nav-row-left">

                <ul class="uk-subnav uk-visible-large edit-ul">

                    <!--CLIENT DASHBOARD-->
                    <li class="active">
                        <a ui-sref="#" >Quotes</a>
                    </li>
                    <!--LOAN MARKETPLACE-->
                    <li class="active">
                        <a ui-sref="#">Schedule</a>
                    </li>
                    <!--TRANSACTIONS-->
                    <li  class="active">
                        <a ui-sref="#">Profile</a>
                    </li>
                    <!--TRANSACTIONS-->
                    <li class="active">
                        <a ui-sref="MyAccount">Account Settings</a>
                    </li>

                </ul>

            </div>
            <!--END OF LEFT NAV_BAR-->

            <!--RIGHT NAV_BAR -->
            <div class="edit-nav-row-right">

                <ul class="uk-subnav uk-visible-large edit-ul">
                    <li class="active">
                        <a ui-sref="MacroOverview" class="edit-invest">Invest</a>
                    </li>

                </ul>

            </div>
            <!--END OF RIGHT NAV_BAR-->

        </nav>
        <!--END OF NAV_BAR ROW-->
    </div>
</div>
