<nav class="uk-navbar-container edit-nav-row" uk-navbar uk-sticky>
    <div class="uk-navbar-left">
        <a href="" class="uk-navbar-item uk-logo">
            <img src="img/lqx_logo_DO.svg" class="nav-logo" alt="demo" width="60px">
        </a>
        <ul class="uk-navbar-nav">
            <!--CLIENT DASHBOARD-->
            <li class="uk-active">
                <a ui-sref="MacroOverview" >Macro Overview</a>
            </li>
            <!--LOAN MARKETPLACE-->
            <li class="uk-active">
                <a ui-sref="Portfolio">Portfolio</a>
            </li>
            <!--TRANSACTIONS-->
            <li class="uk-active">
                <a ui-sref="LoanMarket">Loan Market</a>
            </li>
            <!--TRANSACTIONS-->
            <li class="uk-active">
                <a ui-sref="MyAccount">Account Settings</a>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-active">
                <a ui-sref="Borrow" class="edit-borrow">Borrow</a>
            </li>
            <li class="uk-active">
                <x-profile-icon
                    session="ctrl.session">
                </x-profile-icon>
            </li>
        </ul>
    </div>
</nav>
