<div class="uk-container uk-container-expand">
    <h1 class="uk-h2"><span>Portfolio</span></h1>
    <ul uk-tab>
        <!--Portfolio-->

        <li>
            <a ui-sref="Portfolio.Investments">Bondora Investments</a>
        </li>
    </ul>
    <div>
        <div class="container" ui-view="content"></div>
    </div>
</div>