<div class="uk-background-primary uk-position-cover">
</div>

<div class="uk-position-z-index uk-position-center">
    <div uk-grid>
        <div class="uk-text-right">
            <img class="uk-logo" width="140" height="120" src="img/lqx_logo_white.svg" alt="">
        </div>

        <div>
            <form class="uk-grid-small" uk-grid
                style="width: 400px;"
                name="registrationForm"
                ng-submit="registrationForm.$valid && ctrl.register()"
                novalidate="">
                <div class="uk-width-1-1">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input uk-width-1-1"
                            id="name"
                            name="name"
                            type="text"
                            ng-model="ctrl.name"
                            placeholder="Full Name">
                    </div>
                </div>

                <div class="uk-width-1-1">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input class="uk-input uk-width-1-1"
                            id="email"
                            name="email"
                            type="email"
                            required
                            ng-model="ctrl.email"
                            placeholder="Email Address">
                    </div>
                </div>

                <div class="uk-width-1-1">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input uk-width-1-1"
                            id="password"
                            name="password"
                            type="password"
                            required
                            minlength="6"
                            ng-model="ctrl.password"
                            placeholder="Password">
                    </div>
                </div>

                <div class="uk-width-1-1">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: check"></span>
                        <input class="uk-input uk-width-1-1"
                            name="confirmPassword"
                            type="password"
                            required
                            ng-model="ctrl.confirmPassword"
                            compare-to="ctrl.password"
                            placeholder="Confirm Password">
                    </div>
                </div>

                <div class="uk-width-1-3@s">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: world"></span>
                        <input class="uk-input uk-width-1-1"
                            name="country_code"
                            type="text"
                            required
                            ng-model="ctrl.countryCode"
                            placeholder="Code">
                    </div>
                </div>
                <div class="uk-width-2-3@s">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: phone"></span>
                        <input class="uk-input uk-width-1-1"
                            name="phone"
                            type="tel"
                            required
                            ng-model="ctrl.phone"
                            placeholder="Phone">
                    </div>
                </div>

                <div class="uk-width-1-1">
                    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1"
                        type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>

   <!--  <div>
        <div class="validation uk-alert uk-alert-danger" data-uk-alert data-ng-show="registrationForm.email.$invalid && (registrationForm.email.$touched || registrationForm.$submitted)">

            <a href="" class="uk-alert-close uk-close"></a>

            <div data-ng-show="registrationForm.email.$error.required">
                Email is mandatory.
            </div>

            <div data-ng-show="registrationForm.email.$error.emailAddress">
                Email is invalid.
            </div>

        </div>

        <div class="validation uk-alert uk-alert-danger"  data-ng-show="registrationForm.password.$invalid && (registrationForm.password.$touched || registrationForm.$submitted)">

            <a href="" class="uk-alert-close uk-close"></a>

            <div data-ng-show="registrationForm.password.$error.required">
                Password is required.
            </div>

            <div data-ng-show="registrationForm.password.$error.minlength">
                Password must be at least 6 characters long.
            </div>

        </div>
        <div class="validation uk-alert uk-alert-danger"  data-ng-show="registrationForm.confirmPassword.$invalid && (registrationForm.confirmPassword.$touched || registrationForm.$submitted)">

            <a href="" class="uk-alert-close uk-close"></a>

            <div data-ng-show="registrationForm.confirmPassword.$error.required">
                Confirm Password is required.
            </div>

            <div data-ng-show="ctrl.password != ctrl.confirmPassword">
                Passwords do not match
            </div>

        </div>

    </div> -->
</div>
