

<div ng-controller="RegisterCtrl as ctrl" class="uk-vertical-align uk-text-center uk-height-1-1 edit-top-push">

    <div>
        <div class="validation uk-alert uk-alert-danger" data-uk-alert data-ng-show="registrationForm.emailAddress.$invalid && (registrationForm.emailAddress.$touched || registrationForm.$submitted)">

            <a href="" class="uk-alert-close uk-close"></a>

            <div data-ng-show="registrationForm.emailAddress.$error.required">
                Email is mandatory.
            </div>

            <div data-ng-show="registrationForm.emailAddress.$error.emailAddress">
                Email is invalid.
            </div>

        </div>

        <div class="validation uk-alert uk-alert-danger"  data-ng-show="registrationForm.password.$invalid && (registrationForm.password.$touched || registrationForm.$submitted)">

            <a href="" class="uk-alert-close uk-close"></a>

            <div data-ng-show="registrationForm.password.$error.required">
                Password is required.
            </div>

            <div data-ng-show="registrationForm.password.$error.minlength">
                Password must be at least 6 characters long.
            </div>

        </div>
        <div class="validation uk-alert uk-alert-danger"  data-ng-show="registrationForm.confirmpassword.$invalid && (registrationForm.confirmpassword.$touched || registrationForm.$submitted)">

            <a href="" class="uk-alert-close uk-close"></a>

            <div data-ng-show="registrationForm.confirmpassword.$error.required">
                Confirm Password is required.
            </div>

            <div data-ng-show="ctrl.password != ctrl.confirmpassword">
                Passwords do not match
            </div>

        </div>

    </div>


    <div class="uk-width-1-10 edit-login-block">
        <img class="uk-margin-bottom" width="140" height="120" src="img/logo_blue.svg" alt="">
    </div>



    <div class="uk-width-9-10 edit-block-white edit-login edit-login-block" style="width: 350px">


        <form class="uk-form" name="registrationForm" ng-submit="registrationForm.$valid && ctrl.register()" novalidate="">

            <div class="uk-form-row uk-form-icon" ng-class="">
                <i class="uk-icon-envelope-o"></i>
                <input class="uk-width-1-1 uk-form-large uk-form-controls"
                       id="email"
                       name="emailAddress"
                       type="email"
                       required
                       ng-model="ctrl.emailAddress"
                       placeholder="Email Address"
                       style="width: 300px">

            </div>


            <div class="uk-form-row uk-form-icon uk-form-password">
                <i class="uk-icon-key"></i>
                <input class="uk-width-1-1 uk-form-large uk-form-controls"
                       id="password"
                       name="password"
                       type="password"
                       required
                       minlength="6"
                       ng-model="ctrl.password"
                       placeholder="Password"
                       style="width: 300px">
                <a href="" class="uk-form-password-toggle" data-uk-form-password></a>



            </div>


            <div class="uk-form-row uk-form-icon uk-form-password">
                <i class="uk-icon-check-square-o"></i>
                <input class="uk-width-1-1 uk-form-large uk-form-controls"
                       name="confirmPassword"
                       type="password"
                       required
                       ng-model="ctrl.confirmpassword"
                       compare-to="ctrl.password"
                       placeholder="Confirm Password"
                       style="width: 300px">

            </div>

            <div class="uk-form-row">
                <button class="uk-width-1-1 uk-button uk-button-primary uk-button-large"
                        type="submit">Next</button>
            </div>
        </form>

    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
