<div class="uk-background-primary uk-position-cover">
</div>

<div class="uk-position-z-index uk-position-center">
    <div uk-grid>
        <div class="uk-text-right">
            <img class="uk-logo" width="140" height="120" src="img/lqx_logo_white.svg" alt="">
        </div>

        <div>
            <form class="uk-grid-small" uk-grid
                style="width: 400px;"
                data-ng-submit="ctrl.verify()">
                <div class="uk-width-1-1">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input class="uk-input uk-width-1-1"
                            type="text"
                            name="token"
                            placeholder="Verify Token"
                            data-ng-model="ctrl.session.token"
                            required>
                    </div>
                </div>

                <div class="uk-width-1-1">
                    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1"
                        type="submit">Verify Phone Number</button>
                </div>
            </form>
        </div>
    </div>
</div>
